.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    text-align: center;
}




/*--------------NAVBAR-----------------*/
.navbar {
    display: block;
    width: 100vw;
    height: 10vh;
    background-color: antiquewhite;
}

.navbar-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    align-items: center;
}

.hamburger-icon {
    grid-column: 1;
    text-align: center;
}

.logo {
    grid-column: 2;
    text-align: center;
}

img {
    width: 2em;
    height: auto;
}
/*-------------------------------------*/





/*---------------MENU------------------*/
.menu {
    display: block;
    background-color: aqua;
}

.menu-ul {
    margin: 0;
    padding: 0;
    text-align: left;
}

.menu-ul > li {
    padding: 1em;
    font-size: 1.5em;
    border-bottom: 1px solid grey;
}