ul {
  list-style: none;
  width: 80%;
}

.data-container {
  position: relative;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.history-card {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}

.date {
  text-align: center;
  background-color: aqua;
  padding: 5px;
  margin-bottom: 20px;
}

.history-card-item {
  width: 33%;
  height: auto;
  text-align: center;
  display: inline-block;
}

.history-card-item-icon {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 50%;
}
