.history-navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 10vh;
	z-index: 1;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	background-color: lightgreen;
}

.chart-container {
	text-align: center;
}

.history-container {
	position: relative;
	top: 10vh;
	width: 100%;
	height: 80%;
}

.slider-container {
	width: 400px;
	height: 200pxs;
	position: fixed; /* add this code for position fixed */
	top: 0px; /* set top and left 0 */
	left: 0px;
}
.slider-item-div {
	padding: 20px;
	background-color: white;
	text-align: center;
	height: 100%;
	width: 100%;
}
.carousel-style {
	height: 100% !important;
}

.navbar-history,
.navbar-graph,
.navbar-analysis {
	grid-row: 1;
	margin-top: 3vh;
}

.navbar-history {
	grid-column: 1;
}

.navbar-graph {
	grid-column: 2;
}

.navbar-analysis {
	grid-column: 3;
}
