.app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	/*
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
    );
    */
	text-align: center;
	overflow: hidden;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.homescreen-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(10, 1fr);
	height: 90vh;
	width: 100vw;
}

.welcome,
.name,
.add-summary {
	grid-column: 2/5;
	color: rgb(73, 61, 66);
}

.welcome {
	grid-row: 2;
	font-size: 3em;
}

.name {
	grid-row: 3;
	font-size: 2em;
}

.add-summary {
	grid-row: 9;
	align-self: center;
}

.button-container {
	grid-column: 2/5;
	grid-row: 7/9;
}

.add-btn {
	border: 0.1px solid black;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	color: white;
	height: 90%;
	width: auto;
	background-color: rgba(148, 187, 233, 0.3);
}

/*--------------NAVBAR-----------------*/
.navbar {
	display: block;
	width: 100vw;
	height: 10vh;
	background-color: antiquewhite;
}

.navbar-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 20vw 60vw 20vw;
	align-items: center;
}

.hamburger-icon {
	grid-column: 1;
	text-align: center;
}

.logo {
	grid-column: 2;
	text-align: center;
}

img {
	width: 2em;
	height: auto;
}

/*-------------------------------------*/

/*---------------MENU------------------*/
.menu {
	position: fixed;
	background-color: rgba(148, 187, 233, 1);
	width: 100%;
	-webkit-box-shadow: 0px 9px 12px -5px rgba(158, 153, 158, 1);
	-moz-box-shadow: 0px 9px 12px -5px rgba(158, 153, 158, 1);
	box-shadow: 0px 9px 12px -5px rgba(158, 153, 158, 1);
}

.menu-ul {
	width: 100% !important;
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	padding-inline-start: 0 !important;
}

li {
	font-size: 1.5em;
	padding: 1em;
}
